<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.namu.auth.mapper.AuthMapper">

    <!-- 관리자 정보 및 권한 조회 -->
    <select id="findAdminByUsernameAndPassword" parameterType="map" resultType="com.namu.auth.entity.User">
        SELECT
        a.admin_id AS userId,
        a.username AS username,
        r.authority AS role
        FROM admins a
        LEFT JOIN admin_role ar ON a.admin_id = ar.admin_id
        LEFT JOIN roles r ON ar.role_id = r.role_id
        WHERE a.username = #{username} AND a.password = #{password}
    </select>

    <!-- 사용자 조회 -->
    <select id="findUserByProvider" parameterType="map" resultType="com.namu.auth.entity.User">
        SELECT
        u.user_id AS userId,
        u.username AS username,
        u.nickname AS nickname,
        u.provider AS provider,
        u.provider_id AS providerId,
        r.authority AS role
        FROM users u
        LEFT JOIN user_role ur ON u.user_id = ur.user_id
        LEFT JOIN roles r ON ur.role_id = r.role_id
        WHERE u.provider = #{provider} AND u.provider_id = #{providerId}
    </select>


    <!-- 닉네임 중복 여부 확인 -->
    <select id="findNicknamesByPattern" parameterType="string" resultType="string">
        SELECT nickname
        FROM users
        WHERE nickname LIKE #{pattern}
    </select>

    <!-- 사용자 등록 -->
    <insert id="registerUser" parameterType="com.namu.auth.entity.User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO users (username, nickname , provider, provider_id, created_at, updated_at)
        VALUES (#{username}, #{nickname} , #{provider}, #{providerId}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

    <!-- 권한 등록 -->
    <insert id="assignDefaultRole" parameterType="long">
        INSERT INTO user_role (user_id, role_id)
        VALUES (#{userId}, (SELECT role_id FROM roles WHERE authority = 'USER'))
    </insert>

</mapper>
